streamlit==1.38.0 
torch==2.1.2+cpu 
transformers==4.45.1 
pillow==10.4.0 
pytesseract==0.3.10 
speechrecognition==0.3.10.0
pyttsx3==2.90 
langdetect==1.0.9 
pyaudio==0.2.11 
numpy==1.26.4

